In [1]:
import numpy as np
import pandas as pd
from bertopic import BERTopic

/Users/orca/miniforge3/envs/topically/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
!wget https://storage.googleapis.com/cohere-assets/blog/text-clustering/data/askhn3k_embeds.npy
# or
# !curl https://storage.googleapis.com/cohere-assets/blog/text-clustering/data/askhn3k_embeds.npy -o askhn3k_embeds.npy

zsh:1: command not found: wget

In [3]:
#Load the embeddings matrix
embeds = np.load('askhn3k_embeds.npy')

# Load the dataframe containing the text and metadata of the posts
df = pd.read_csv('https://storage.googleapis.com/cohere-assets/blog/text-clustering/data/askhn3k_df.csv', index_col=0)

print(f'Loaded a DataFrame with {len(df)} rows and an embeddings matrix of dimensions {embeds.shape}')

Loaded a DataFrame with 3000 rows and an embeddings matrix of dimensions (3000, 1024)

In [5]:
topic_model = BERTopic(calculate_probabilities=True,
                       nr_topics=10)

df['topic'], probabilities = topic_model.fit_transform(df['title'], embeds)

In [6]:

import topically
import importlib
importlib.reload(topically)
app = topically.Topically('Bp64haoZmzevdJsObm1nKZGPWMZK3ziW3ArilShA')

In [8]:
df['cluster_names'] = app.name_clusters((df['title'], df['topic']))

In [10]:
df[['title', 'topic', 'cluster_names']]

,title,topic,cluster_names
0,"I'm a software engineer going blind, how shoul...",-1,Build an app
1,Am I the longest-serving programmer – 57 years...,4,Software development and programmers
2,Is S3 down?,-1,Build an app
3,What tech job would let me get away with the l...,-1,Build an app
4,What books changed the way you think about alm...,3,Books and reading
...,...,...,...
2995,Do you like/use Reddit's redesign?,-1,Build an app
2996,What's your best startup idea that you're not ...,-1,Build an app
2997,Freelancer? Seeking freelancer? (June 2021),0,Who is hiring?
2998,How to learn about the history of computing?,-1,Build an app
2999,Would you pay $5/yr for HN?,8,General discussion

Enter your Cohere API Key········

,title,topic,topic_names
0,"I'm a software engineer going blind, how shoul...",-1,Career
1,Am I the longest-serving programmer – 57 years...,4,Becoming a better developer
2,Is S3 down?,-1,Career
3,What tech job would let me get away with the l...,-1,Career
4,What books changed the way you think about alm...,3,Books and literature
...,...,...,...
2995,Do you like/use Reddit's redesign?,-1,Career
2996,What's your best startup idea that you're not ...,-1,Career
2997,Freelancer? Seeking freelancer? (June 2021),0,Who is hiring?
2998,How to learn about the history of computing?,-1,Career
2999,Would you pay $5/yr for HN?,-1,Career